@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rosarivo:ital@0;1&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.location-container {

  margin: 0;
  padding: 0;
}

.location-title {
  font-size: 2.5rem;
  color: #4A5568;
  text-align: center;
  margin-bottom: 2rem;
}

.location-main {
  margin-top: 100px;
  background-color: #fcf9f5;
  width: 100%;
  height: 110vh;
  padding: 4.2rem 1rem;

}

.location-main h4 {
  font-size: 15px;
  color: #4A5568;
  text-align: center;
  letter-spacing: 2px;
}

.location-main .h2-get {
  padding: 10px;
  font-size: 50px;
  color: rgb(48, 47, 47);
  text-align: center;
  font-family: 'Merriweather', serif;
}

.location-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-info {
  width: 40%;
  margin: 20px;
  background-color: rgb(255, 239, 200);
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.location-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;

}

.location-info .w-me {
  text-decoration: none;
  margin-bottom: 10px;
  background-color: rgb(81, 202, 109);
  padding: 9px;
  color: #ffff;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.w-me:hover {
  color: rgb(81, 202, 109);
  background-color: #ffff;
}

.location-info h2 {
  font-size: 1.8rem;
  color: #2D3748;
  margin-bottom: 1rem;
}

.location-info p {
  font-size: 1rem;
  line-height: 1.6;
  color: #4A5568;
  margin-bottom: 1rem;
}

.location-map {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 47%;
  height: 0;
  overflow: hidden;
  border-radius: 25px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.contact-section {
  margin: 100px 25px 25px 25px;
}

.contact-section .h4-info {
  color: #5d687a;
  font-size: 18px;
  letter-spacing: 2px;
}

.contact-section .h2-info {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  line-height: 70px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px 0 25px 0;
}

.contact-section p {
  font-size: 17px;
  margin-bottom: 30px;
}


@media (max-width: 768px) {
  .location-title {
    font-size: 2rem;
  }

  .location-main {
    height: auto;
    /* Allow auto height for mobile */
    padding: 2rem 1rem;
    margin-top: 50px;
  }

  .location-info h2,
  .location-map h2 {
    font-size: 1.5rem;
  }

  .location-content {
    display: flex;
    flex-direction: column;
  }

  .location-info {
    width: 100%;
    margin: 20px 0;
    /* Adjust margin */
  }

  .location-map {
    width: 100%;
  }

  .map-container {
    padding-bottom: 75%;
    /* Taller map for mobile */
  }

  .contact-section .h2-info {
    font-size: 2rem;
    line-height: 1.3;
  }

}